@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DAMN";
  src: local("DAMN"),
  url('/fonts/DAMN.ttf')
  format("truetype");
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: local("Gilroy-ExtraBold"),
  url('/fonts/Gilroy-ExtraBold.otf')
  format("truetype");
}


html, 
body, 
#__next {
  height: 100%;
  width: 100%;
  background-color: #F5F5F5;
  min-width: 390px;
  overflow-x: none;
}